.shop-container {
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px;
}

.cart-container {
    background: #FF9900;
    opacity: 0.3;

}

.cart-container h4 {
    color: #1C2B35;
   
}